.ConteudoLateralDireita{
    width: 30%;
    margin: 0 0 0 1rem; 
}

.containerContentDireita{
    width: 70%;
    height: 70%;
    margin: 0 1rem;
    padding: 1rem;
    flex-wrap: wrap;
    color: grey;
}

.topSide{
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
}

.topSide p{
    margin-left: 0.4rem;
    font-size: 0.8rem;
    font-weight: 600;
}
.topSide button, .bottomSide button{
    border: none;
    background: none;
    cursor: pointer;
    font-size: 0.7rem;
    display: flex;
}

.bottomSide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1350px) {
    .containerContentDireita{
        width: 100%;
        height: 80%;
    }
}

@media  screen and (max-width: 1150px) {
    .ConteudoLateralDireita{
        display: none;
    }
}
@media screen and (max-width: 600px) {
    .conteudoCentral{
        margin-left: 0;
       }
       
}